.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --space-y-reverse: 0;
  margin-top: calc(1.5rem * var(--space-y-reverse));
  margin-bottom: calc(1.5rem * (1 - var(--space-y-reverse)));
}

.w-40 {
  width: 40% !important;
}

.w-35 {
  width: 35% !important;
}

.form-error {
  font-size: 12px !important;
  font-weight: 600;
  margin-top: 0.15rem !important;
} 

.input-box {
  height: 100px;
  position: relative;
}

.text-blue {
  color: blue;
}